<!DOCTYPE html>
<!-- 13331231 孙圣 HW2 tmnt.html -->
<html>
	<head>
		<meta charset="utf-8" />
		<title>TMNT - Rancid Tomatoes</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="{{ static_url("movie.css") }}" type="text/css" rel="stylesheet" />
		<link rel="shortcut icon" href="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/2/{{ shortcuticon }}" type="image/gif" />
	</head>

	<body>
		<div id="banner">
			<img src="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/2/banner.png" alt="banner">
		</div>

	 	<!-- choosing between pages -->
		<ul id="choice">
	 		<li> <a href="?film=princessbride"> princessbride </a> </li>
		 	<li> <a href="?film=tmnt2"> tmnt2 </a> </li>
	 		<li> <a href="?film=tmnt"> tmnt </a> </li>
	 		<li> <a href="?film=mortalkombat"> mortalkombat </a> </li>
	 	</ul>

		<h1>{{ title }} ( {{ year }})</h1>

	 <div id="detail">

	  <div id="right">

		<div>
			<img src="static/moviefiles/{{ moviename }}/generaloverview.png" alt="generaloverview">
		</div>

		<dl>
			{% for go in generaloverview %}
			<dt>{{ go }}</dt>
			<dd>{{ generaloverview[go] }}</dd>
			{% end %}
		</dl>

	  </div>

	  <div id="left">

       <div id="top">
		<div>
			<img src="http://courses.cs.washington.edu/courses/cse190m/09sp/
			homework/{{ bigpicurl }}" alt="bigpic">
			<span id="percent">{{ rating }}%</span> <span id="review">({{ reviewnum }} reviews total)</span>
		</div>	
	   </div>

	   <div id="ll">
	   	{% for review in leftlist %}
		<p class="quote">
			<img src="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/2/{{ review.like }}" alt="review"class="im">
			<q>{{ review.info }}</q>
		</p>
		<p class="info">
			<img src="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/2/critic.gif" alt="critic" class="cim">
			{{ review.name }} <br />
			{{ review.where }}
		</p>
		{% end %}
	   </div>

	   <div id="lr">
		{% for review in rightlist %}
		<p class="quote">
			<img src="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/2/{{ review.like }}" alt="review" class="im">
			<q>{{ review.info }}</q>
		</p>
		<p class="info">
			<img src="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/2/critic.gif" alt="critic" class="cim">
			{{ review.name }} <br />
			{{ review.where }}
		</p>
		{% end %}
	   </div>

	  </div>

		<p id="page">(1-{{ pagereviewnum }}) of {{ reviewnum }}</p>

	 </div>

	 <div id="check">
		<a href="http://validator.w3.org/check/referer"><img src="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/2/w3c-xhtml.png" alt="Valid XHTML 1.1" /></a> <br />
		<a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/2/w3c-css.png" alt="Valid CSS!" /></a>
	 </div>

	</body>
</html>
