<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title> 423 Forum -- 注册 </title>
    <link rel="stylesheet" href="{{ static_url('sign.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="{{static_url('jquery-1.11.2.min.js')}}" type="text/javascript"></script>
    <script src="{{static_url('sign.js')}}" type="text/javascript"></script>
</head>
    
<body>
    <div id="main" class="container">
      <div>
          <div class="a"><img id="img" src="../static/images/login.gif" alt="pic" width="120px" height="120px"></div>
        <h1>欢迎注册 423 Forum</h1>

        <form method="post">
             <div class="newadd">
            <div class="form-group">
                <label for="name" class="required">用户名: </label>
                <input type="text" class="form-control" name="name" id="name" placeholder="用户名唯一" maxlength="16">
            </div>
            <div class="p">
                <label for="password"> 密&nbsp;&nbsp;&nbsp;&nbsp;码: </label>
                <input type="password" id="password" name="password" placeholder="不要让别人看到喔~" maxlength="16">
            </div>
            <!--
            <div class="validagain">
                <label for="password"> 再次验证: </label>
                <input type="password" id="password" name="password" placeholder="be careful">
            </div>
            -->
            </div>
            <div>
                <button type="submit" id="submit">提交</button>
            </div>
        </form>
      </div>
    </div>
    <div id="footer" class="container">
        <a href="/login" id="login">账号登录</a>
        <a href="/" id="firstpage">首页</a>
    </div>
</body>
</html>