<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/index.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-ghost" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img width="50" src="../static/images/band.png" alt="logo">
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron question col-sm-10 col-sm-offset-1">
        <div class="title">我家葱葱为什么现在还没有女盆友啊？</div>
        <div class="time">2014-12-1</div>
        <div class="author">congcongmama</div>
        <div class="clearfix"></div>
        <div class="text">我家葱葱从小学习优异，性格温顺，在家里是个孝敬父母的好孩子，在外边是个为人正直的小男子汉，但是就是还没有找到女盆友，我们都特别着急，大家谁知道为什么的，请尽快告知我，急！！！！在线等！！</div>
        <button class="replyBtn btn btn-primary">回复TA</button>
        <div class="clearfix"></div>
        <div class="jumbotron reply col-sm-10 col-sm-offset-2">
          <div class="replyTxt">要要要</div>
          <div class="replyTime">2014-12-1</div>
          <div class="replyAuthor">dogAndCat</div>
        </div>
        <div class="jumbotron reply col-sm-10 col-sm-offset-2">
          <div class="replyTxt">买买买</div>
          <div class="replyTime">2014-12-1</div>
          <div class="replyAuthor">LunixVsUnix</div>
        </div>
      </div>
      <div class="jumbotron question col-sm-10 col-sm-offset-1">
        <div class="title">葱葱~~我喜欢你！</div>
        <div class="time">2014-12-2</div>
        <div class="author">KakhiYaya</div>
        <div class="clearfix"></div>
        <div class="text">听说葱葱最近没有女朋友？是真的嘛？葱葱~你造嘛？伦家宣你很久了，如果你看到的话，今晚零点，我在工学院小广场等你，不见不散！</div>
        <button class="replyBtn btn btn-primary">回复TA</button>
        <div class="clearfix"></div>
        <div class="jumbotron reply col-sm-10 col-sm-offset-2">
          <div class="replyTxt">妹子也是6</div>
          <div class="replyTime">2014-12-1</div>
          <div class="replyAuthor">softKitty</div>
        </div>
      </div>
    </div>
  </body>
</html>