body {
	background-image: url(images/background.gif);
	margin-left: 10%;
	margin-right: 10%;
}

#whole {
	border: 10px white solid;
	background-color: white;
	overflow: hidden;
}

#head {
	text-align: right;
	background-color: #A8F0F0;
}

#head h2 {
	font-size: 14pt;
}

.content {
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
	margin: 10px 0 0 0;
	overflow: hidden;
}

.date {
	border-bottom: 2px blue dashed;
}

.content h2 {
	margin: 10px 0 0 3px;
}

.content img {
	float: right;
}

#friends {
	float: left;
	width: 20%;
}

#journal {
	float: left;
	width: 80%;
}

.h:hover {
	color: yellow;
}
